---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogHero from '../../components/blog/Hero.astro';
import BlogPost from '../../components/blog/Post.astro';

const blogPostsRaw = await Astro.glob('./*.md');
const blogPosts = blogPostsRaw
  // .sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate))
  .filter((post) => post.frontmatter.published);

const heroBlogPost = blogPosts[0];
const slicedBlogPosts = blogPosts.slice(1, blogPosts.length);
---
<BaseLayout
  title="Christian Jabasa's Blog"
  image="https://res.cloudinary.com/kadto/image/upload/v1621041884/cljabasa/blog/green-chameleon-s9CC2SKySJM-unsplash_thumb.jpg"
>
  <div class="flex flex-col pb-16">
    <div class="hero-container-row px-6 mb-6">
      <div class="hero-container">
        <h1 class="hero-title">Christian Jabasa's Blog</h1>

        <h4 class="hero-subtitle">It ain't much but it's honest work.</h4>
      </div>
    </div>

    <div class="flex flex-row justify-center">
      <div class="w-full lg:w-7/12 flex flex-col space-y-16 px-6">
        <div class="flex flex-col mb-6">
          <BlogHero blogPost={heroBlogPost} />
        </div>

        {slicedBlogPosts.map(blogPost => (
          <BlogPost blogPost={blogPost} />
        ))}
      </div>
    </div>

    <div class="h-16" />
  </div>
</BaseLayout>
