---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Hello, World">
  <div class="flex flex-col">
    <div class="hero-container-row px-6 md:px-0 lg:px-0 xl:px-0 2xl:px-0">
      <div class="hero-container">
        <h1 class="hero-title">Overkill Static Website</h1>

        <h4 class="hero-subtitle">
          Christian only gets to work on this crap in his free time. Excuse the poor man for any
          rough edges here.
        </h4>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
.hero-container-row {
  @apply flex flex-row py-8;
}

.hero-container {
  @apply w-full md:w-7/12 lg:w-7/12 xl:w-7/12 2xl:w-7/12 flex flex-col;
}

.hero-title {
  @apply text-4xl md:text-5xl lg:text-6xl xl:text-6xl 2xl:text-6xl font-black mb-4;
}

.hero-subtitle {
  @apply text-lg md:text-lg lg:text-xl xl:text-xl 2xl:text-xl;
}
</style>
