---
import BaseLayout from '../layouts/BaseLayout.astro';

const blogPostsRaw = await Astro.glob('./blog/*.md');

const blogPosts = blogPostsRaw
  // .sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate))
  .filter((post) => post.frontmatter.published)
  .slice(0, 3);
---
<BaseLayout title="Christian Jabasa">
  <div class="flex flex-col pb-16">
    <div class="hero-container-row px-6">
      <div class="hero-container">
        <h1 class="hero-title">Overkill Static Website</h1>

        <h4 class="hero-subtitle">
          Christian only gets to work on this crap in his free time. Excuse the poor man for any
          rough edges here.
        </h4>
      </div>
    </div>

    <div class="flex flex-row px-6">
      <div class="flex flex-col">
        <div class="flex flex-row justify-between items-center py-4 mb-3">
          <h4 class="text-xl font-bold">Latest Blog Posts</h4>

          <a href="/blog" class="text-blue-600 dark:text-blue-300">See All</a>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-12">
          {
            blogPosts.map((blogPost) => (
              <a href={blogPost.url}>
                <div class="flex flex-col">
                  <div class="aspect-w-16 aspect-h-10 mb-6">
                    <img
                      src={blogPost.frontmatter.heroImage}
                      alt=""
                      class="object-cover rounded-md shadow-md"
                    >
                  </div>

                  <div class="flex flex-col space-y-4">
                    <h2 class="text-black dark:text-white text-xl md:text-2xl font-bold">
                      {blogPost.frontmatter.title}
                    </h2>

                    <p class="text-black dark:text-white">{blogPost.frontmatter.description}</p>
                  </div>
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
