---
import { format } from 'date-fns';
import BaseLayout from '../layouts/BaseLayout.astro';

const response = await fetch('http://worldtimeapi.org/api/timezone/Asia/Manila');
const data = await response.json();

console.log(new Date(Date.datetime));
---
<BaseLayout title="COVID-19 Vaccination | Christian Jabasa">
  <div class="flex flex-col">
    <div class="hero-container-row px-6">
      <div class="hero-container">
        <h1 class="hero-title">COVID-19 Vaccination</h1>

        <h4 class="hero-subtitle">Has Christian Luck G. Jabasa gotten his shots yet?</h4>
      </div>
    </div>

    <div class="flex flex row px-6 lg:px-0">
      <div class="vaccination-hero-container-row">
        <div class="flex flex-col text-center leading-tight">
          <h1 class="vaccination-hero-heading">1/2</h1>

          <div class="flex flex-col text-center leading-tight">
            <h4 class="text-white text-sm lg:text-base">
              1st Shot - 13 August, 2021 (12:52 PM)
            </h4>
            <h4 class="text-white text-sm lg:text-base">
              2nd Shot - 10 September, 2021 (¯\_(ツ)_/¯)
            </h4>
            <h4 class="text-white text-xl lg:text-3xl">Halfway there.</h4>
          </div>

        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
.vaccination-hero-container-row {
  @apply bg-yellow-500 flex flex-row w-full justify-center rounded-md shadow-md py-8 pb-16 my-8;
}

.vaccination-hero-heading {
  font-size: 256px;
  @apply text-white font-black;
}

</style>
