<style>
.nav-desktop {
  @apply hidden md:inline-flex lg:inline-flex xl:inline-flex 2xl:inline-flex flex flex-row;
}

.nav-item-desktop:hover {
  opacity: 0.75;
}
</style>

<div class="h-14 flex flex-row justify-between items-center px-6">
  <h4><a href="/" class="nav-item-desktop text-lg">Christian Jabasa</a></h4>

  <nav>
    <ul class="space-x-8 nav-desktop">
      <li>
        <a href="/blog" class="nav-item-desktop">Blog</a>
      </li>
      <li>
        <a href="/uses" class="nav-item-desktop">Uses</a>
      </li>
      <li>
        <a href="/about" class="nav-item-desktop">About</a>
      </li>
    </ul>
  </nav>
</div>
