---
import AppBar from '../components/AppBar.astro';

const { title, image } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{title}</title>

    <!-- General SEO -->
    <meta name="application-name" content="Christian Jabasa">
    <meta name="title" content={title}>
    <meta name="description" content="Christian Jabasa. Software Engineer.">
    <meta name="keywords" content="Christian,Jabasa,Software,Engineer,Developer">
    <meta name="author" content="Christian Jabasa">

    <!-- OpenGraph SEO -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Christian Jabasa. Software Engineer." />
    <meta
      property="og:image"
      content={image || 'https://res.cloudinary.com/kadto/image/upload/v1601695359/cljabasa/blog/andrew-santellan-hAsyQkjbPMM-unsplash.jpg'}
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href={Astro.resolve("../assets/styles/global.css")} >
    <link rel="stylesheet" href={Astro.resolve("../assets/styles/markdown-content.css")} >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    >
  </head>

  <body>
    <header>
      <div class="container mx-auto">
        <AppBar />
      </div>
    </header>

    <main class="container mx-auto slot-container">
      <slot />
    </main>

    <div class="footer-container">
      <div class="flex flex-row justify-center py-4">
        <h5 class="text-white text-sm font-medium">
          {'Made with <3 in Bacolod City, PH'}
        </h5>
      </div>
    </div>
  </body>
</html>

<style>
  .slot-container {
    min-height: calc(100vh - 64px);
  }

  .footer-container {
    @apply bg-gray-900 flex flex-col;
  }
</style>
